:root {
    /* typography */
    --heading-1: 67px;
    --heading-2: 51px;
    --heading-3: 38px;
    --heading-4: 28px;
    --heading-5: 22px;
    --base: 16px;
    --caption: 12px;
    --cta: #A259FF;

    /* colors */
    --dark-500: #2B2B2B;
    --dark-300: #3B3B3B;
    --light-500: #858584;
    --light-300: #fff;

    /*  */
    --primary-radius: 20px;
}

body {
    background-color: var(--dark-500);
}



/* utility classes START */
.container {
    max-width: 1050px;
    margin: 0 auto;
    width: 90%;
}

.bold-700{
    font-weight: 700;
}
.bold-600{
    font-weight: 600;
}


.capitalize{
    text-transform: capitalize;
}

.d-flex {
    display: flex;
}
.i-flex {
    display: inline-flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.d-column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.gap-30{
    gap: 30px;
}

.lh-160{
    line-height: 160%;
}
.lh-140{
    line-height:140%;
}

.lh-120{
    line-height: 120%;
}

.bg-cta{
    background-color: var(--cta);
}

.bg-transparent{
    background-color: transparent;
}

.border-cta{
    border: 2px solid var(--cta);
}



/* utility classes END */

header {
    padding: 20px 50px;
    color: var(--light-300);

    a.logo {
        img {}
    }

    nav {
        ul {
            gap: 10px;

            li {
                a {
                    display: inline-block;
                    color: inherit;
                    font-size: var(--base);
                    padding: 12px 20px;
                    text-transform: capitalize;
                }

                &.sign-up {
                    background-color: var(--cta);
                    border-radius: var(--primary-radius);

                    a {
                        gap: 12px;
                        padding: 20px 30px;
                    }
                }
            }
        }
    }
}

section{
    color: var(--light-300);
    padding-block: 80px;
    header{
        padding: 0;
        color: inherit;
        margin-bottom: 60px;
        div{
            h2{
                font-size: var(--heading-3);
                margin-bottom: 10px;
            }
            p{
                font-size: var(--heading-5)
            }
        }
        a{
            align-self: flex-end;
        }
    }

    .wrapper{
       h3{

         font-size: var(--heading-5);

        }
    }

}

.btn{
    border-radius: var(--primary-radius);
            /* background-color: var(--cta); */
    gap: 12px;
    color:inherit;
    font-weight: 600;
    font-size: var(--base);
    &.secondary{
        padding: 20px 50px;
    }
}

section.hero{
    color: var(--light-300);
    .content{
        h1{
            
            font-weight: 600;
            line-height: 110%;
            font-size: var(--heading-1);
        }
        >p{
            font-size: var(--heading-5);
        }
        a{
            
            /* border-radius: var(--primary-radius);
            padding: 20px 50px;
            background-color: var(--cta);
            gap: 12px;
            color:inherit;
            font-weight: 600;
            font-size: var(--base); */
            img{

            }

        }
        ul.statistics-wrapper{
            li {
                p{
                    &:first-child { 
                        font-size: var(--heading-4)
                        
                    }
                    &:last-child {
                        font-size: calc(var(--heading-5) + 2px);
                    }
                }
            }
            
        }
        >h1,>p,>a{
            margin-bottom: 30px;
        }

    }
    .preview{
        .inner{
            border-bottom-left-radius:var(--primary-radius);
            border-bottom-right-radius:var(--primary-radius);
            
        padding: 22px 20px;
        background-color: var(--dark-300);
        h3{
            margin-bottom: 20px;

            font-weight: 600;
            line-height: 140%;
            font-size: var(--heading-5);
            
        }
        
        .author-wrapper{
            gap: 12px;


        }   
    }



    }
}


section.trending-collections{
    .wrapper{
         article.card{
            width: 330px;

            .preview{
                img{
                    width: 100%;
                    border-radius: var(--primary-radius);
                }
                .thumbnails{
                    gap: 15px;
                    margin-block: 15px
                    ;
                    img{
                        width: 100px;
                        border-radius: var(--primary-radius);
                    }

                    a{
                        padding: 2rem 1rem;
                        background-color: var(--cta);
                        color: inherit;
                        font-size: var(--heading-5);
                        border-radius: var(--primary-radius);
                    }

                }
            }
            .footer{
                /* h3{
                    font-size: var(--heading-5);
                } */
                .author-wrapper{
                    margin-top: 10px;
                    gap: 10px;
                    img{
                        width: 24px;
                        border-radius: 50%;

                    }
                    h4{

                    }
                }
            }
        }
    }
}

section.top-creators{
    .wrapper{
        article.author-card{
            padding: 20px;
            border-radius: var(--primary-radius);
            background-color: var(--dark-300);
            width: 240px;

            img{
                
            }
            h3{
                margin-block: 20px 5px;
            }
            div{
                font-size: var(--base);
                p{
                    color: var(--light-500);
                    &:last-child{
                        color: var(--light-300);
                        span{
                            margin-inline: 10px;
                        }
                    }
                }
            }
        }

    }
    
}





    
