:root {
    /* typography */
    --heading-1: 67px;
    --heading-2: 51px;
    --heading-3: 38px;
    --heading-4: 28px;
    --heading-5: 22px;
    --base: 16px;
    --caption: 12px;
    --cta: #A259FF;

    /* colors */
    --dark-500: #2B2B2B;
    --dark-300: #3B3B3B;
    --light-500: #858584;
    --light-300: #fff;

    /*  */
    --primary-radius: 20px;
}

body {
    background-color: var(--dark-500);
}



/* utility classes START */
.container {
    max-width: 1050px;
    margin: 0 auto;
    width: 90%;
}

.bold-700 {
    font-weight: 700;
}

.bold-600 {
    font-weight: 600;
}


.capitalize {
    text-transform: capitalize;
}

.d-flex {
    display: flex;
}

.i-flex {
    display: inline-flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.d-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.gap-30 {
    gap: 30px;
}

.lh-160 {
    line-height: 160%;
}

.lh-140 {
    line-height: 140%;
}

.lh-120 {
    line-height: 120%;
}

.lh-110 {
    line-height: 110%;
}

.bg-cta {
    background-color: var(--cta);
}

.bg-light-300 {
    background-color: var(--light-300);
}

.bg-transparent {
    background-color: transparent;
}

.border-cta {
    border: 2px solid var(--cta);
}



/* utility classes END */

header {
    padding: 20px 50px;
    color: var(--light-300);

    a.logo {
        img {}
    }

    nav {
        ul {
            gap: 10px;

            li {
                a {
                    display: inline-block;
                    color: inherit;
                    font-size: var(--base);
                    padding: 12px 20px;
                    text-transform: capitalize;
                }

                &.sign-up {
                    background-color: var(--cta);
                    border-radius: var(--primary-radius);

                    a {
                        gap: 12px;
                        padding: 20px 30px;
                    }
                }
            }
        }
    }
}

section {
    color: var(--light-300);
    padding-block: 80px;

    header {
        padding: 0;
        color: inherit;
        margin-bottom: 60px;

        div {
            h2 {
                font-size: var(--heading-3);
                margin-bottom: 10px;
            }

            p {
                font-size: var(--heading-5)
            }
        }

        a {
            align-self: flex-end;
        }
    }

    .wrapper {
        h3 {

            font-size: var(--heading-5);

        }
    }

}

.btn {
    border-radius: var(--primary-radius);
    /* background-color: var(--cta); */
    gap: 12px;
    color: inherit;
    font-weight: 600;
    font-size: var(--base);

    &.secondary {

        padding: 20px 50px;
    }

    &.bg-light-300 {
        color: var(--dark-500);

    }
}

section.hero {
    color: var(--light-300);

    .content {
        h1 {

            font-weight: 600;
            line-height: 110%;
            font-size: var(--heading-1);
        }

        >p {
            font-size: var(--heading-5);
        }

        a {

            /* border-radius: var(--primary-radius);
            padding: 20px 50px;
            background-color: var(--cta);
            gap: 12px;
            color:inherit;
            font-weight: 600;
            font-size: var(--base); */
            img {}

        }

        ul.statistics-wrapper {
            li {
                p {
                    &:first-child {
                        font-size: var(--heading-4)
                    }

                    &:last-child {
                        font-size: calc(var(--heading-5) + 2px);
                    }
                }
            }

        }

        >h1,
        >p,
        >a {
            margin-bottom: 30px;
        }

    }

    .preview {
        .inner {
            border-bottom-left-radius: var(--primary-radius);
            border-bottom-right-radius: var(--primary-radius);

            padding: 22px 20px;
            background-color: var(--dark-300);

            h3 {
                margin-bottom: 20px;

                font-weight: 600;
                line-height: 140%;
                font-size: var(--heading-5);

            }

            .author-wrapper {
                gap: 12px;


            }
        }



    }
}


section.trending-collections {
    .wrapper {
        article.card {
            width: 330px;

            .preview {
                img {
                    width: 100%;
                    border-radius: var(--primary-radius);
                }

                .thumbnails {
                    gap: 15px;
                    margin-block: 15px;

                    img {
                        width: 100px;
                        border-radius: var(--primary-radius);
                    }

                    a {
                        padding: 2rem 1rem;
                        background-color: var(--cta);
                        color: inherit;
                        font-size: var(--heading-5);
                        border-radius: var(--primary-radius);
                    }

                }
            }

            .footer {

                /* h3{
                    font-size: var(--heading-5);
                } */
                .author-wrapper {
                    margin-top: 10px;
                    gap: 10px;

                    img {
                        width: 24px;
                        border-radius: 50%;

                    }

                    h4 {}
                }
            }
        }
    }
}

section.top-creators {
    .wrapper {
        article.author-card {
            position: relative;
            padding: 20px;
            border-radius: var(--primary-radius);
            background-color: var(--dark-300);
            width: 240px;

            .order {
                width: 30px;
                height: 30px;
                background-color: var(--dark-500);
                color: var(--light-500);
                position: absolute;
                top: 20px;
                left: 20px;
                border-radius: 50%;

            }

            img {}

            h3 {
                margin-block: 20px 5px;
            }

            div {
                font-size: var(--base);

                p {
                    color: var(--light-500);

                    &:last-child {
                        color: var(--light-300);

                        span {
                            margin-inline: 10px;

                        }
                    }
                }
            }
        }

    }

}

section.categories {
    .wrapper {
        a.category-card {
            width: 240px;

            .preview {
                position: relative;
                height: 240px;

                img {
                    transition-duration: 0.3s;

                    &.icon {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                }
            }

            h3 {
                padding: 20px 30px;
                font-size: var(--heading-5);
                color: var(--light-300);
                background-color: var(--dark-300);
                border-radius: 0 0 var(--primary-radius) var(--primary-radius);
            }

            &:hover {
                img {
                    &:not(.icon) {
                        filter: blur(4px);
                    }
                }
            }
        }
    }
}

section.discover {
    .wrapper {
        article.nft-card {
            width: 330px;

            .preview {
                img {
                    display: block;
                    width: 100%;
                }
            }

            .footer {
                padding: 20px 30px;
                background-color: var(--dark-300);
                border-radius: 0 0 var(--primary-radius) var(--primary-radius);

                .price-wrapper {
                    margin-top: 25px;

                    p:first-child {
                        font-size: 12px;
                        color: var(--light-500);
                        line-height: 110%;
                        margin-bottom: 8px;
                    }

                }
            }
        }
    }
}



section.auction {
    background-image: url(../images/magic-mushrooms-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    background-position: center;

    .content-wrapper {
        .author-wrapper {

            gap: 12px;
            padding: 10px 20px;
            border-radius: var(--primary-radius);
            background-color: var(--dark-500);

            img {
                width: 24px;
                border-radius: 50%;

            }

        }

        h2 {
            margin-block: 30px;
            font-size: var(--heading-2);
            color: var(--light-300);
            line-height: 110%;

        }
    }

    .countdown-wrapper {

        background-color: rgba(59, 59, 59, 50%);
        padding: 30px;
        border-radius: var(--primary-radius);

        >p {
            font-size: var(--caption);
            margin-bottom: 10px;
        }

        .timer {
            gap: 10px;

            .hours,
            .minutes,
            .seconds {
                p {
                    &:first-child {
                        margin-bottom: 5px;
                        font-size: var(--heading-3);
                    }

                    &:last-child {
                        font-size: var(--caption);
                    }
                }
            }

            .twodots {
                font-size: var(--heading-3);

            }
        }
    }
}

section.how-it-works{
    .wrapper{
        article{
            
            width: 330px;
            padding: 30px;
            border-radius: var(--primary-radius);
            background-color: var(--dark-300);
            text-align: center;
            img{
                
            }
            h3{
                margin-block: 20px 10px;
                
                font-size: var(--heading-5);
            }
            p{

            }

        }
    }
}